:root {
  --primary-color: #e50914;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  max-width: 2000px;
  margin: auto;
}
ul {
  list-style: none;
  display: block;
}

h1,
h2,
h3,
h4 {
  color: white;
  text-align: center;
}

a {
  color: #ffffff;
  text-decoration: none;
}
img {
  width: 100%;
  border: 0;
}

.showcase-header {
  background: url("/img/main/feature-flim-bg.jpg") no-repeat center center/cover;
  padding: 30px 50px;
  background-position: top;
  font-size: 1.5rem;
}
.showcase-navbar {
  max-width: 1850px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 150px;
}

.netflix-logo {
  width: 150px;
  height: 32px;
  margin-right: 10px;
}
.nav-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}
.nav-element {
  margin-left: 30px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(255, 255, 255, 0.75);
}
.nav-element:active {
  color: rgb(255, 255, 255, 1);
  font-weight: 700;
}

.feature-movie {
  padding: 0 20px;
  margin-top: 90px;
  position: relative;
}

.feature-movie-title {
  text-align: left;
  font-weight: 700;
  font-size: 2.5rem;
  margin: initial;
  margin-bottom: 25px;
}

.feature-movie-discription {
  max-width: 640px;
  font-size: 1.35rem;
  font-weight: 500;
  color: white;
  margin: initial;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  margin-bottom: 25px;
}

.play-button {
  height: 100%;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 10px 50px;
  background-color: #e6e6e6;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: 0.4s ease;
}
.play-button:hover {
  background: #e50914;
  color: white;
}

.all-slides-wrapper {
  padding: 35px 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.flim-slide {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.slide-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 0px;
  margin-bottom: 15px;
  text-align: left;
}
.all-card-slides {
  display: flex;
  flex-direction: row;
}
.card {
}
.card-img {
  border: 0;
  width: 100%;
  max-width: 305px;
  cursor: pointer;
  height: auto;
  padding: 0 5px;
  transition: transform 0.4;
}
.card-img:hover {
  transform: scale(1.2);
}

.card-feature {
  display: flex;
  flex-direction: column;
  background-size: contain;
  position: relative;
  /* height: 360px; */
  background-position-x: right;
  background-repeat: no-repeat;
  background-color: #000;
  padding-top: 30px;
  max-height: 0;
  overflow: hidden;
  /* background-image: url("/img/flims/drama-1.jpg"); */
}
.card-title {
  color: #fff;
  max-width: 640px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: left;
}
.card-description {
  color: #fff;
  max-width: 500px;
  font-size: 18px;
  font-weight: 500;
}

.card-feature-close {
  color: #fff;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
}
.card-feature-close img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  width: 24px;
}
.card-feature .feature-movie-play-button {
  box-shadow: 0 0.6vw 1vw -0.4vw rgb(0 0 0 / 35%);
  background-color: #e6e6e6;
  border-width: 0;
  padding: 10px 35px;
  border-radius: 5px;
  max-width: 130px;
  font-size: 20px;
  margin-top: 25px;
  cursor: pointer;
  text-align: center;
  color: #000;
  transition: 0.4s ease;
  margin-bottom: 200px;
  outline: 0;
}
.card-feature .feature-movie-play-button:hover {
  background: #e50914;
  color: white;
}

.footer {
  max-width: 1000px;
  margin: auto;
  padding: 70px 56px;
}
.footer-title {
  font-size: 1.25rem;
  color: #757575;
  margin-top: 0;
  margin-bottom: 50px;
}
.footer-row {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-column {
  display: flex;
  flex-direction: column;
}
.footer-link {
  font-size: 0.9 rem;
  color: #757575;
  margin-bottom: 20px;
}

/* ---media elements--- */

@media (max-width: 950px) {
}

@media (max-width: 750px) {
  .footer {
    padding: 70px 30px;
  }
  .footer-row {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .slide-title {
    text-align: center;
  }
  .all-card-slides {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .showcase-header {
    padding: 15px 20px;
  }
  .feature-movie-title {
    font-size: 30px;
  }
  .feature-movie-discription {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 70px 15px;
  }
  .footer-row {
    grid-template-columns: 1fr 1fr;
  }
}
